__pycache__/ 
*.pyc 
.env 
.env.example 
node_modules/ 
.pytest_cache/ 
dist/ 
build/ 
*.log 

dc-ml/datasets/azure/*.gz

dc-ml/datasets/azure/*.csv.gz

dc-ml/datasets/nab/

dc-ml/datasets/google/

dc-ml/datasets/processed/

dc-ml/saved_models/*.pt

dc-ml/saved_models/*.pkl
